{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
  <div class="container-fluid px-4">
    <h1 class= "mt-4">Lista de Usuarios</h1>
    <a href="{% url 'usuario_create' %}">Crear nuevo usuario</a>
    <ul>
      {% for usuario in object_list %}
        <li>
          {{ usuario.username }} - {{ usuario.tipo }} - {{ usuario.is_active }}
          <a href="{% url 'usuario_edit' usuario.pk %}">Editar</a>
          {% if usuario.is_active %}
            <a href="{% url 'usuario_inactivar' usuario.pk %}">Inactivar</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endblock %}